// siwtch button
.theme-switch-wrapper .slider::before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    transition: .4s;
    content: '';
    border-radius: 50%;
}

// swither dark section
.slick-dots li {
    &.slick-active button::before {
        color: #6366f1 !important;
    }

    & button::before {
        color: gray !important;
    }
}

// slider section
.slider div {
    height: 100%;
    border-radius: 16px;
    padding: 12px;
}
.slider div a img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.slider div h4 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

// landing section
.landing .grid div {
    cursor: pointer;

    &:hover {
        cursor: pointer;
        color: #6366f1;
    }

    & img {
        width:100%;
        margin-bottom: 25px; 
        border-radius: 8px;   
    }
}

// keyframes and media
@keyframes scale {
    0% {
        transform: translateY(var(--origin, 0%));
    }
    100% {
        transform: translateY(var(--destination, -50%));
    }
}

@media only screen and (min-width: 768px) {
    .parent:hover .child {
        opacity:1;
        height:auto;
        overflow:none;
        transform: translateY(0);
    }
    .child {
        opacity:0;
        height:0;
        overflow:hidden;
        transform: translateY(-10%);
    }
}
